@import '../../style/variables';

.ol-control {  
    position: absolute;  
    bottom: 0;
    right: 0;
    // background-color: rgba(255,255,255,0.4);  
    border-radius: 4px;  
    padding: 4px;
    display: flex;
    flex-direction: column;
}

$square-size:1.4em;

.ol-zoom-in, .ol-zoom-out {
    margin: 0;
    box-shadow: none;
    border: none;
    padding: 0;
    height: $square-size;
    width: $square-size;
    font-size: 1.25em;
    line-height: $square-size;
    background-color: $hightone;
}

.ol-zoom-in {
    margin-bottom: 2px;
}