body,
* {
  font-family: "Karla", Arial, sans-serif;
}

.btn:focus,
.btn-secondary:focus {
  box-shadow: none;
}

.mapContainer {
  height: 100vh;
  width: calc(100% - 70px);
}

.leaflet-container {
  height: 100vh;
  width: 100%;
  /* position: relative; */
}

.leaflet-control-scale-line {
  border: none;
  font-size: 18px;
  border-left: 2px solid white;
  border-right: 2px solid white;
  background: transparent none repeat scroll 0% 0%;
  color: white;
  box-shadow: none;
  text-align: center;
}

.latlon > input {
  width: 100%;
}

.add-pin i {
  font-size: 0.7em;
  padding-left: 8px;
}

.error {
  color: #e6ebe0;
  font-weight: bold;
  text-shadow: none;
}

.latlon-modal .error {
  font-size: 0.9em;
  padding-bottom: 15px;
}
.leaflet-bottom {
  bottom: 100px;
}
.info {
  position: absolute;
  top: 0;
  right: 70px;
  z-index: 1000000000;
  color: #e6ebe0;
  padding: 10px;
  cursor: pointer;
}

.info i {
  font-size: 1.25em;
}

.modal-content {
  color: #e6ebe0;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#295f60+0,1f4749+94 */
  background: rgb(41, 95, 96); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(41, 95, 96, 1) 0%,
    rgba(31, 71, 73, 1) 94%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(41, 95, 96, 1) 0%,
    rgba(31, 71, 73, 1) 94%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(41, 95, 96, 1) 0%,
    rgba(31, 71, 73, 1) 94%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#295f60', endColorstr='#1f4749',GradientType=0 ); /* IE6-9 */
}

.modal-header .close {
  text-shadow: none;
  color: #e6ebe0;
}

.modal-header .btn-secondary {
  background-color: rgba(59, 85, 94, 0.2);
  box-shadow: none;
}

.leaflet-fade-anim .leaflet-tile,
.leaflet-zoom-anim .leaflet-zoom-animated {
  will-change: auto !important;
}
