@import './variables';

html, body {
  margin: 0;
  height: 100%;
}

body {
  background-color: $lowtone;
}

.main {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: $main-border;
  display: flex;
  flex-flow: row;
}

body,
* {
  font-family: "Karla", Arial, sans-serif;
}


h1, h2, h3, h4, h5 {
  font-family: "Comfortaa", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn:focus,
.btn-secondary:focus {
  box-shadow: none;
}

.mapContainer {
  height: 100vh;
  /* width: calc(100% - 70px); */
  width: 100%;
}


.latlon > input {
  width: 100%;
}

.add-pin i {
  font-size: 0.7em;
  padding-left: 8px;
}

.error {
  color: #e6ebe0;
  font-weight: bold;
  text-shadow: none;
}

.latlon-modal .error {
  font-size: 0.9em;
  padding-bottom: 15px;
}


.modal-content {
  color: #e6ebe0;
  background: #066c99;
}

.modal-header .close {
  text-shadow: none;
  color: #e6ebe0;
}

.modal-header .btn-secondary {
  background-color: rgba(59, 85, 94, 0.2);
  box-shadow: none;
}

.leaflet-fade-anim .leaflet-tile,
.leaflet-zoom-anim .leaflet-zoom-animated {
  will-change: auto !important;
}
.modal-body .logos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.modal-body .logos a {
  margin: 20px 10px;
}

.modal-body .logos .logo {
  max-height: 90px;
  max-width: 200px;
}

.modal-body .esa {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.modal-body .esa img {
  max-width: 40%;
}

.modal p {
  margin-bottom: 25px;
}


.btn-primary {
  background-color: $primary;
  border-color: $primary;
}

.btn-white {
  background-color: transparent;
  color: $white;
  border:none;
}

.btn-white:hover {
  background-color: transparent;
  color: $white;
  border:none;
}

.btn-primary:hover {
  background-color: #83A296;
  border-color: #83A296;
}

@media (max-width: 1280px) {
  .leaflet-bottom {
    bottom: 120px;
  }
}

@media (max-width: 768px) {
  .leaflet-bottom {
    bottom: 80px;
  }
}
