@import './variables';

html, body {
  margin: 0;
  height: 100%;
}

body {
  background-color: $lowtone;
}

body,
* {
  font-family: "Karla", Arial, sans-serif;
}

#root {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: $main-border;
  display: flex;
  flex-flow: row;
}


h1, h2, h3, h4, h5 {
  font-family: "Comfortaa", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn:focus,
.btn-secondary:focus {
  box-shadow: none;
}

.not-found {
  background: $hightone;
  width: 100%;
  text-align: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

// for Router 'Link' components with the classname 'btn'
a.btn {
  border: 3px solid $primary;
  background: $primary25;
  color: $lowtone;
  font-weight:bold;
  padding: 10px 50px;

  &:hover {
    background: $primary75;
  }
}

.error {
  color: $error;
  font-weight: bold;
  text-shadow: none;
}

.error-outline {
  border:3px solid $error;
  padding: 100px;
  display: inline-block;

  h2 {
    margin-bottom: 20px;
  }
}


.modal-content {
  color: #e6ebe0;
  background: #066c99;
}

.modal-header .close {
  text-shadow: none;
  color: #e6ebe0;
}

.modal-header .btn-secondary {
  background-color: rgba(59, 85, 94, 0.2);
  box-shadow: none;
}

.modal-body .logos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.modal-body .logos a {
  margin: 20px 10px;
}

.modal-body .logos .logo {
  max-height: 90px;
  max-width: 200px;
}

.modal-body .esa {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.modal-body .esa img {
  max-width: 40%;
}

.modal p {
  margin-bottom: 25px;
}


.btn-primary {
  background-color: $primary;
  border-color: $primary;
}

.btn-white {
  background-color: transparent;
  color: $white;
  border:none;
}

.btn-white:hover {
  background-color: transparent;
  color: $white;
  border:none;
}

.btn-primary:hover {
  background-color: #83A296;
  border-color: #83A296;
}
