.navbar {
  height: 100px;
  display: flex;
  color: #e6ebe0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#295f60+0,1f4749+94 */
  background: rgb(41, 95, 96); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(41, 95, 96, 1) 0%,
    rgba(31, 71, 73, 1) 94%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(41, 95, 96, 1) 0%,
    rgba(31, 71, 73, 1) 94%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(41, 95, 96, 1) 0%,
    rgba(31, 71, 73, 1) 94%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#295f60', endColorstr='#1f4749',GradientType=0 ); /* IE6-9 */
}

.navbar li {
  list-style: none;
}

.nav {
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
}

.nav-item i {
  vertical-align: top;
  padding-right: 10px;
  font-size: 2em;
}

.nav-item form {
  display: inline-block;
}

.layer input {
  margin-right: 5px;
}

.nav-item input,
.nav-item label {
  cursor: pointer;
  outline: none;
  margin-bottom: 0;
}

.coordinates {
  display: flex;
}

.coordinates .options .btn {
  margin-right: 10px;
  padding: 5px 10px;
}

.coordinates .options {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media (max-width: 1080px) {
  .coordinates .options .btn {
    padding: 2px 10px;
  }

  .coordinates .options {
    flex-direction: column;
  }
}

.navbar .error {
  display: block;
  font-size: 0.8em;
  text-align: right;
}

select:focus {
  outline: none;
}

.nav .btn-secondary {
  background-color: rgba(59, 85, 94, 0.2);
  outline: none;
  border-radius: 1px;
  color: #e6ebe0;
  height: 2.5rem;
}

.btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dropdown {
  float: right;
}

.dropdown-menu {
  min-width: 5rem;
  cursor: pointer;
  overflow: auto;
}

.dropdown-menu button {
  cursor: pointer;
}

@media (min-width: 1000px) {
  .date-dropdown .dropdown-menu {
    max-height: 400px;
  }
  .dropdown-menu {
    max-height: auto;
  }
}

.dropdown-item {
  width: 100%;
  line-height: 1.1rem;
  font-size: 0.9rem;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
  color: #7b8690;
  background: rgb(230, 230, 230);
}

.dropdown-item.disabled button,
.dropdown-item:disabled button {
  cursor: default;
}

.date-picker {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.nav .logo {
  max-height: 65px;
  max-width: 100%;
}

.nav .logos {
  display: flex;
  align-items: center;
}

.nav .logos a {
  margin-right: 10px;
}

.nav li {
  margin: 0;
}

.coord-modal .modal-header {
  border: none;
  padding-bottom: 0;
}

.coord-modal .modal-footer {
  padding-top: 0;
  border: none;
}

.coord-modal .options {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.coord-modal .options .btn {
  margin-bottom: 20px;
}

.date-modal .date-picker {
  display: flex;
  justify-content: space-around;
}

.date-modal .date-picker .error {
  display: block;
}

#dataproducts .layer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.nav .layers {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.nav .layers span.label {
  display: none;
  font-weight: bold;
  font-size: 0.9em;
}

@media (max-width: 1080px) {
  .nav .layers i {
    display: none;
  }

  .nav .layers span.label {
    display: block;
  }
}

@media (max-width: 768px) {
  .navbar {
    height: 100px;
    padding: 10px 20px;
  }
  .nav {
    height: 100%;
    justify-content: space-around;
  }

  .modal-btn .btn-secondary {
    height: 70px;
    width: 70px;
    font-size: 1.6em;
    border: none;
  }
}
