$primary: #9DC4B5;
$primary50: rgba(157,196,181,0.5);
$secondary: #5C474F;
$accent: #BAD9A2;
$lowtone: #5c5c5c;
$midtone: #C0C0C0;
$hightone: #e0e0e0;
$white: #ebebeb;
$error: #F16255;

$main-border: 10px;

$panel-width: 200px;