@import '../../style/variables';


.ol-map {  
    height: 100%;
    background-color: #fff;
}

.ol-map-container {
    width: 100%;
    // padding: 8px;
}

.ol-full-screen {  
    top: .5em;  
    right: .5em;
}