@import '../../style/variables';


.ol-map {  
    height: 100%;
    width: 100%;
    background-color: $hightone;
}

.ol-map-container {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction:row;
    border: 2px solid $hightone;
    border-radius: 2px;
    background-color: $lowtone;
}

.ol-full-screen {  
    top: .5em;  
    right: .5em;
}

